body {
	margin: 0;
}

#container {
	margin: 0 auto;
}

.square {
	background-color: pink;
	display: inline-block;
	height: 100%;
	/*width: calc(100% / 50);*/
}

.row {
	/*height: 2%;*/
	width: 100%;
	font-size: 0;
}